@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    vertical-align: baseline;
    margin: 0;
    overflow: scroll;
    background: linear-gradient(to left top, #0d4d58, #456b79, #738999, #9faab8, #cacdd6, #dcdde3, #eeeef1, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topic-animation {
    margin-top: 100px;
    margin-left: 10px;
    background: linear-gradient(-225deg, #074158 0%, #ced1d8 29%, #0d4d58 67%, #a49e9e 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
}

/************** Homepage  *************/
h1 {
    font-size: 38px;
    position: absolute;
    left: 1em;
    top: 0;
}

.navbar {
    padding: 10px;
    right: 0.5em;
    height: 5em;
    line-height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav-container {
    margin: 0 auto;
    padding: 10em 3em;
    text-align: center;
    top: 0;
}

.navbar.a {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    padding: 10px 10px;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    border-bottom: solid white;
}

ul,
li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 20px;
}

#header-styles {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #0d4d58;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

.intro-content {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0px 50px 50px 50px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}

.large-font {
    font-size: 38px;
}

.mouse-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mouse {
    width: 48px;
    height: 80px;
    border: 4px solid #000;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}

.wheel {
    width: 8px;
    height: 16px;
    background-color: #000;
    border-radius: 4px;
    animation: scroll 1s infinite;
    margin-top: 8px;
}

.logo {
    width: 100px;
    margin-left: 15px;
    margin-bottom: 1%;
    cursor: pointer;
}
.home-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
}

.text-content {
    max-width: 700px;
    margin-top: 10px;
}

.intro-greeting {
    font-size: 2.5em;
    color: #111a20;
    animation: 2s infinite alternate;
    margin-left: 10%;
}

.intro-main-text {
    font-size: 1.7em;
    margin-left: 6%;
    padding-bottom: 7px;
    color: #222;
    position: relative;
}

/* Sliding text effect */
.sliding-text::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #0c242e;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slideIn 2s infinite alternate;
}

@keyframes slideIn {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.intro-description {
    font-size: 1.1em;
    color: #0c1729;
    line-height: 1.6;
    margin-left: 10%;

}

.get-in-touchButton {
    display: inline-block;
    padding: 20px 20px;
    background-color: #0d4d58;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 280px;
    transition: background-color 0.3s;
}

.get-in-touchButton:hover {
    background-color: #738999;
}

.profile-image {
    width: 350px;
    height: 350px;
    background-color: #f0f0f0;
    box-shadow: 0 8px 15px rgb(0, 0, 0);
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 50%;
    transition: transform 0.3s;

}

.profile-image:hover {
    transform: scale(1.05);
}

/* Social Media Icons */
.social-media-icons {
    float: right;
    margin-top: 280px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-media-icons a {
    color: #333;
    font-size: 2em;
    transition: color 0.3s ease;
}

.social-media-icons a:hover {
    color: #0077b5;
}

/* Individual hover colors */
.social-media-icons a:nth-child(1):hover {
    color: #0077b5;
}

.social-media-icons a:nth-child(2):hover {
    color: #C13584;
}

.social-media-icons a:nth-child(3):hover {
    color: #4267B2;
}

.social-media-icons a:nth-child(4):hover {
    color: #5a267e;
}

/* Animation for mouse scroll*/
@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}
/***************** About Me ***************/
.content-section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

.section-title {
    font-size: 28px;
    color: #091537;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 3em;
}

.education-item {
    margin-top: 30px;
    background-color: #f8f9fa;
    padding: 1.5em;
    border-radius: 8px;
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/*nth child pseudo class*/
.education-item:nth-child(2) {
    background-color: #ced3e1;
}

.education-item:nth-child(3) {
    background-color: #dcdde3;
}

.education-item:nth-child(4) {
    background-color: #ced3e1;
}

.education-item:nth-child(5) {
    background-color: #dcdde3;

}

/* Goals Container */
.goals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 2em;
}

/* Individual goal card styling */
.goal-card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: #ced3e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.goal-card:hover {
    transform: translateY(-5px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content-section {
        padding: 1em;
    }

    .goal-card {
        flex: 1 1 100%;
    }
}

.CV-button {
    display: block;
    width: 20%;
    padding: 10px;
    color: #dcdde3;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

.CV-button:not(:disabled) {
    background-color: #0d4d58;
}

.CV-button:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    background-color: #738999;
}

.CV-button a {
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #041b2e;
    color: lightcyan;
}
/***********Hobbies and Projects********/
.entire-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 200px;
    padding: 20px;
    text-align: center;
}

article p,
article ul {
    font-size: 18px;
    color: #555;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 20px 20px 20px;
}

.card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: #e4e4e4;
    text-align: center;
    transition: transform 0.3s ease;
    transform: translateY(-10px);
    opacity: 0.9;
    box-shadow: 0 15px 25px #175b6778;
}

.card h4 {
    font-size: 20px;
    color: #062a35;
}

.card p {
    font-size: 16px;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pseudo Class */
.card>h4:first-of-type {
    color: #0d4d58;
    font-size: 30px;
    text-transform: uppercase;
}

/* Targets the second h4 element */
.card>h4:nth-of-type(2) {
    color: rgb(33, 121, 130);
}

.hobby-img {
    width: 50%;
    height: 45%;
    border-radius: 10px;
}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}
/************* Contact Page ************/
.contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.form-section {
    flex: 1;
    margin-top: 200px;
    max-width: 600px;
    max-height: 600px;
    margin-right: 50px;
    padding: 20px;
    background: linear-gradient(to bottom, #0d4d58, #b9bcc5, #cbccd2, #dddde0, #eeeeee);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-section>h2 {
    text-align: center;
    color: #000000;
}

.form-section p {
    text-align: center;
}

/*Attribute selectors */
input[type="text"],
input[type="email"],
textarea {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
    transition: border-color 0.5s ease, box-shadow 0.6s ease;
}

textarea {
    border: 3px solid #000000;
    background-color: white;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[required] {
    background-color: white;
}

input:valid {
    border: 5px solid rgb(54, 223, 167);
}

input:invalid {
    border: 3px solid #091537;
}

/* Negation pseudo-class*/
button[type="submit"]:not(:disabled) {
    background-color: #0d4d58;
}

button[type="submit"]:not(:disabled):hover {
    background-color: #738999;
}

/*Contact Details*/
.details {
    flex: 1;
    max-width: 550px;
    max-height: 750px;
    margin-top: 200px;
    margin-left: 50px;
    padding: 30px;
    background: linear-gradient(to bottom, #0d4d58, #b9bcc5, #cbccd2, #dddde0, #eeeeee);
    border-radius: 8px;
    box-shadow: 0 8px 15px rgb(0, 0, 0);
    margin-bottom: 100px;
}

.contact-icons {
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
}

.contact-header {
    font: 22px "Quicksand", sans-serif;
    padding-top: 20px;
    letter-spacing: 7px;
}

.contact-feature {
    font: 16px "Quicksand", sans-serif;
    color: #404040;
    letter-spacing: 1.5px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 20%;
    font-weight: bold;
}

/*Child combinator*/
.contact-feature>a:link {
    color: #041b2e;
}

.contact-feature>a:visited {
    color: #119fab;
}

.contact-feature>a:hover {
    color: #119fab;
}

.contact-feature>a:active {
    color: #00308F;
}

/*Media Queries for Responsive layout */
@media (max-width: 992px) {
    #header-styles {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    /* Stack the form and details sections vertically */
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .form-section,
    .details {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    /* Adjust font sizes and spacing for small screens */
    .form-section,
    .details {
        padding: 15px;
    }
}

@media (max-width: 850px) {

    .home-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 80px 40px;
    }

    .intro-container {
        align-items: center;
        gap: 5px;
    }

    .profile-image {
        width: 350px;
        height: 350px;
        background-color: #f0f0f0;
        box-shadow: 0 8px 15px rgb(0, 0, 0);

        margin-left: 100px;
        margin-top: 10px;
        border-radius: 50%;

    }
    .social-media-icons {
        float: right;
        margin-top: 280px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .home-content {
        display: flex;
        flex-wrap: wrap;        /*Moves to the next line*/
        align-items: center;
        justify-content: center;
        padding: 80px 40px;
    }

    .text-content {
        width: 100%;
        max-width: 100%;
    }

    .intro-container {
        max-width: 100%;
        align-items: center;
        gap: 5px;
    }

    .get-in-touchButton {
        margin-left: 42%;
    }

    .image-container {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .profile-image {
        width: 350px;
        height: 350px;
        background-color: #f0f0f0;
        box-shadow: 0 8px 15px rgb(0, 0, 0);
        margin-left: 100px;
        margin-top: 50px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    /* Social Media Icons */
    .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0px;
        left: 10px;
        transform: translateY(-50%);
        flex-direction: row;
        gap: 20px;
    }

    .card {
        padding: 10px;
        min-width: 75%;
        border-radius: 10px;
        background-color: #e4e4e4;
        text-align: center;
        transition: transform 0.3s ease;
        transform: translateY(-10px);
        opacity: 0.9;
        box-shadow: 0 15px 25px #175b6778;
    }

    #header-styles{
        flex-direction: column;
        
    }

    .intro-content{
        margin-top: 300px;
    }

}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d4d58;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

footer>a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}
